<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIP Web Client</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <section>

    </section>

    <section class="state state-offline">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>offline</h1>
            <div class="">
              <button type="button" class="btn btn-primary btn-lg" name="connect">connect</button>
            </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

    <section class="state state-online">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>online</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 text-right">
            <!-- this should be done as a popover-->
            <button type="button" class="btn btn-primary ui-new" name="new">new +</button>
            <hr>
            <ul class="ui-conversations nav nav-pills nav-stacked">
              <li>empty</li>
            </ul>
            <hr>
          </div>
          <div class="col-sm-10">
            <div class="ui-main">
              <div>empty</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="debug">
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>remote</h2>
            <video src="" autoplay="true" controls="controls" id="remoteVideo">
            </video>
          </div>
          <div class="col-md-6">
            <h2>local</h2>
            <video src="" autoplay="true" controls="controls" id="localVideo" muted>
            </video>
          </div>
        </div>
        <pre id="debug"></pre>
        <p>
          <a href="javascript: delete localStorage.messages">delete messages history</a>
        </p>
        <p>
          You should really use your headphones if you want to avoid larsen
        </p>
    </div>

    </section>

    <footer class="footer">
      <div class="container">
        <hr>
        <p>Created with&nbsp;&nbsp;❤&nbsp;&nbsp;JsSIP</p>
        <p>
          <a href="#top">Back to top</a>
        </p>
      </div>
    </footer>
    <!-- templates -->
    <script type="text/html" id="template-ui-message">
      <li class="<%= direction %>"><b><%= author %></b>: <%= content %></li>
    </script>
    <script type="text/html" id="template-ui-contact">
      <li data-toggle="tooltip" title="<%= uri %>">
        <a data-uid="<%= slug %>">
          <%= name %> <span class="badge"><%= n %></span>
          <span class="ui-incall pull-left label label-success"><b class="glyphicon glyphicon-earphone"></b></span>
        </a>
      </li>
    </script>
    <!-- new -->
    <script type="text/html" id="template-ui-new">
      <div class="well">
        <h2>new</h2>
        <form>
          <div class="form-group">
            <label for="dest">dest</label>
            <input type="text" class="form-control" id="dest" placeholder="sip:user@domain">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </script>
    <!-- panel -->
    <script type="text/html" id="template-ui-panel">
      <div class="ui-panel conversation well" id="<%= slug %>">
        <h2>
          <span class="c-nickname"><%= remote_display_name %></span>
          <small>&lt;<span class="c-uri"><%= remote_uri %></span>&gt;</small>
        </h2>

        <div class="ui-rtc-container">
        </div>

        <form class="form-inline chat" data-dest="<%= remote_uri %>">
          <div class="form-group clearfix">
            <ul class="ui-dialog form-control-static">
            </ul>
          </div>
          <div class="form-group" style="width:100%">
            <div class="input-group" style="width:100%">
              <input type="text" class="form-control" placeholder="...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Send</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/html" id="template-ui-rtc">
      <div class="ui-rtc" id="call_<%= rtc_uid %>">
        <div class="screens row">
          <div class="local col-sm-6">
            <video autoplay muted="true" poster="images/green.png">
            </video>
          </div>
          <div class="remote col-sm-6">
            <video autoplay poster="images/green.png">
            </video>
          </div>
        </div>
        <div class="controls">
          <button type="button" data-uri="<%= uri %>" class="btn btn-default" name="call-make" disabled="disabled">make a call</button>
          <button type="button" data-uri="<%= uri %>" data-request="<%= request_uid %>" data-rtc="<%= rtc_uid %>" class="btn btn-default" name="call-accept">accept a call (pick up)</button>
          <button type="button" data-uri="<%= uri %>" class="btn btn-default" name="call-reject" disabled="disabled">reject a call</button>
          <button type="button" data-uri="<%= uri %>" class="btn btn-default" name="call-terminate" disabled="disabled">terminate a call (hang up)</button>
        </div>
      </div>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/jssip.js" charset="utf-8"></script>
    <script src="js/ui.js"></script>
    <script src="js/phone.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
